# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/
.history/

# Environment
.env
.env.*
.venv/
venv/
ENV/
env/
*.env

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Misc
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.cache
.cache/
*.log
logs/